{% extends "page_base.html" %}

{% block title %}Database of Dutch Dialect Idioms (DaDDI){% endblock %}

{% block body_class %}index{% endblock %}

{% block nav %}
{% include "_nav_links.html" %}
{% endblock %}

{% block content %}

<h1 class="title is-1">Database of Dutch Dialect Idioms (DaDDI)</h1>

<h2 class="title is-2">About the project</h2>

<p>
    Welcome to the Database of Dutch Dialect Idioms (DaDDI), which is part of the project <i>The Syntax of Idioms</i>, carried out in collaboration between researchers from Utrecht University in the Netherlands (<a href="https://www.uu.nl/onderzoek/institute-for-language-sciences">ILS, formerly known as UiL OTS</a>) and KU Leuven (<a href="https://www.crissp.be">CRISSP</a>) in Belgium.
    The project was co-funded by the national scientific foundations of the Netherlands (NWO) and Flanders (FWO).
</p>

<p>
    The main goal of the project is to investigate both the internal syntactic structure of idioms and their external syntax, i.e. how they interact with the surrounding syntactic environment.
    Rather than focusing on content words, the object of our study is thus first and foremost functional material in idioms.
    Only recently has idiom research moved beyond mostly English-oriented data focused on a small set of frequently discussed idioms.
    Our project contributes to this development through a systematic collection of idiom data based on judgments by native speakers, and looks for the first time at idioms in a number of closely related language varieties (i.e. Dutch dialects).
    This enables us to study if and how minor differences in the syntax of these varieties are reflected in their idioms.
</p>

<h2 class="title is-2">Research group</h2>

<p>
<ul>
    <li>Norbert Corver (Utrecht)</li>
    <li>Jeroen van Craenenbroeck (Leuven)</li>
    <li>Will Harwood (Leuven)</li>
    <li>Marko Hladnik (Utrecht) </li>
    <li>Sterre Leufkens (Utrecht) </li>
    <li>Tanja Temmerman (Leuven) </li>
    <li>Eefje Boef (Utrecht) </li>
    <li>Loes Koring (Utrecht)</li>
    <li>Alexis Dimitriadis (database design and support; Utrecht)</li>
    <li>Kristel Doreleijers (student assistant; Utrecht)</li>
</ul>
</p>

<h2 class="title is-2">The database</h2>

<p>
    The database contains well over 7,000 idioms collected from dictionaries, grammars, and idioticons of 13 dialects spoken in the Netherlands and Flanders.
    These dialects have been chosen for their geographic spread in that they represent different Dutch dialect areas, as well as for certain syntactic peculiarities they exhibit (e.g. determiner drop or perfect doubling).
    For each idiom its interpretation is listed (in Dutch), alongside properties such as voice, tense, aspect, modality, and basic information about its syntactic structure.
    This large collection of dialect idioms will be of interest to both linguists and the lay public.
</p>

<p>
    A second part of the data comes from structured interviews with native speakers of Dutch dialects.
    Our aim has been to collect information on the extent to which idioms are truly dependent on the functional material listed in their dictionary entries, and to determine the level of morphosyntactic flexibility idioms allow with regard to passivization, topicalization, modification, etc.
    To that end we have selected a number of idioms, systematically manipulated them (e.g. changed the type of modality or topicalized the direct object part of the idiom) and thus created a questionnaire with test sentences containing manipulated idioms for ten of the dialects.
    Each of these questionnaires has been presented to several dialect speakers who have provided judgments on whether a particular idiom can be altered in a given way while retaining its idiomatic interpretation.
    Over 13,000 individual judgments of that type have been collected and are now stored in the database.
    English glosses and translations (both literal and idiomatic) have been added to this part of the data.
</p>

<p>
    Further details about the type of data and idiom properties recorded in the database can be found on the <a href="instructions">Instructions</a> page.
</p>

<p>
    Use the navigation at the top of the page to <a href="/dialects">Browse</a> or <a href="/search">Search</a> the database.
    Browsing will first take you to the list of dialects and is a good way to get familiar with contents of the database and its structure.
    You can search both for idioms and for test sentences by a number of criteria.
    Detailed search instructions can be found on the <a href="/instructions">Instructions</a> page.
</p>

<p>
    The Database of Dutch Dialect Idioms (DaDDI) can be accessed freely for the purpose of carrying out scientific research, subject to the usual rules of fair use and scholarly attribution.
    Please use the following (or equivalent) template when referencing the database:
</p>

<div class="card">
  <div class="card-content">
    <div class="content">
      Corver, N., J. van Craenenbroeck, E. Boef, A. Dimitriadis, K. Doreleijers, W. Harwood, M. Hladnik, L. Koring, S. Leufkens, and T. Temmerman (2017).
Database of Dutch Dialect Idioms (DaDDI). Online database, <i>https://dutchdialectidioms.uu.nl/</i>. Accessed [Day Month Year].
    </div>
  </div>
</div>

{% endblock %}
