{% extends "page_base.html" %}

{% block title %}Dialects{% endblock %}

{% block content %}

<h1 class="title is-1">Dialects</h1>

<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Principal location</th>
        </tr>
    </thead>
    <tbody>
    {% for row in sql("SELECT ROW_NUMBER() OVER (ORDER BY answerset_name ASC) AS row_num, *
                        FROM answerset
                        ORDER BY answerset_name ASC;") %}
        <tr>
            <th>{{ row.row_num }}</th>
            <td><a href="dialects/{{ row.answerset_id }}">{{ row.answerset_name }}</a></td>
            <td>{{ row.answerset_description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="dialect-map" style="position: relative;">
    <img src="/static/dialect-map.png" alt="Dialect map">
    <a href="/dialects/Gronings" title="Hogelandsters" style="position: absolute; left: 80%; top: 4.69%; width: 17.34%; height: 6.94%;"></a>
    <a href="/dialects/Drents" title="Drents" style="position: absolute; left: 80.16%; top: 23.26%; width: 17.34%; height: 6.94%;"></a>
    <a href="/dialects/Deventers" title="Deventers" style="position: absolute; left: 71.72%; top: 44.27%; width: 17.34%; height: 6.94%;"></a>
    <a href="/dialects/Utrechts" title="Utrechts" style="position: absolute; left: 51.72%; top: 49.31%; width: 17.34%; height: 6.94%;"></a>
    <a href="/dialects/Groesbeeks" title="Groesbeeks" style="position: absolute; left: 62.03%; top: 60.59%; width: 17.34%; height: 6.94%;"></a>
    <a href="/dialects/Brees" title="Brees" style="position: absolute; left: 65.94%; top: 82.12%; width: 10.47%; height: 6.94%;"></a>
    <a href="/dialects/Loois" title="Loois" style="position: absolute; left: 52.03%; top: 82.81%; width: 13%; height: 6.94%;"></a>
    <a href="/dialects/Leuvens" title="Leuvens" style="position: absolute; left: 50.63%; top: 90.28%; width: 11.41%; height: 6.94%;"></a>
    <a href="/dialects/Dendermonds" title="Dendermonds" style="position: absolute; left: 33.75%; top: 82.29%; width: 15.47%; height: 6.94%;"></a>
    <a href="/dialects/Aalsters" title="Aalsters" style="position: absolute; left: 39.06%; top: 89.76%; width: 10.31%; height: 4.5%;"></a>
    <a href="/dialects/Leeds" title="Leeds" style="position: absolute; left: 28.59%; top: 88.54%; width: 9.5%; height: 6.94%;"></a>
    <a href="/dialects/Wambeeks" title="Wambeeks" style="position: absolute; left: 34.22%; top: 93%; width: 14.69%;  height: 4.51%;"></a>
    <a href="/dialects/Brugs" title="Brugs" style="position: absolute; left: 17.19%; top: 80.56%; width: 10.31%; height: 4.86%;"></a>
</div>

    <p>Map based on: Daan, J., Blok, D., 1969. Van Randstad tot Landrand; toelichting bij de kaart: Dialecten en Naamkunde, Vol. XXXVII, Bijdragen en mededelingen der Dialectencommissie van de Koninklijke Nederlandse Akademie van Wetenschappen te Amsterdam. Noord-Hollandsche Uitgevers Maatschappij, Amsterdam. Created with the <a href="https://www.meertens.knaw.nl/kaart/">Meertens Instituut cartographic tool</a>.</p>

{% endblock %}
