{% extends "page_base.html" %}

{% block title %}Search | Database of Dutch Dialect Idioms (DaDDI){% endblock %}

{% block body_class %}search{% endblock %}

{% block nav %}
{% include "_nav_links.html" %}
{% endblock %}

{% block content %}
<h1>Search</h1>
<p>Under construction</p>

<form action="search/idioms" method="get">
    <h2>Dialect</h2>

    <h2>Idiom</h2>

    <h3>Verbal properties</h3>

    <div class="propertiesGroup">

        <div id="Voice">
            <label for="voice">Voice</label>
            <select id="voice" name="Voice" multiple="multiple" size="3">
                <option value="Active">Active</option>
                <option value="Passive">Passive</option>
                <option value="0">[No value]</option>
            </select>
        </div>

        <div id="Tense">
            <label for="tense">Tense</label>
            <select id="tense" name="Tense" multiple="multiple" size="4">
                <option value="Present">Present</option>
                <option value="Past">Past</option>
                <option value="Future">Future</option>
                <option value="0">[No value]</option>
            </select>
        </div>

        <div>
            <label for="aspect">Aspect</label>
            <select id="aspect" name="Aspect" multiple="multiple" size="4">
                <option value="Simple">Simple</option>
                <option value="Perfect">Perfect</option>
                <option value="Progressive">Progressive</option>
                <option value="0">[No value]</option>
            </select>
        </div>

        <div>
            <label for="modality">Modality</label>
            <select id="modality" name="Modality" multiple="multiple" size="4">
                <option value="Deontic">Deontic</option>
                <option value="Epistemic">Epistemic</option>
                <option value="Dynamic">Dynamic</option>
                <option value="0">[No value]</option>
            </select>
        </div>
    </div>

    <h3>Structure</h3>

    <div>
        <h4>General structure</h4>
        <label for="genstructure"></label>
        <input id="genstructure" name="GenStructure" type="text" size="50">
    </div>

    <div class="propertiesGroup">

        <div>
            <label for="openposition">Open position</label>
            <select id="openposition" name="OpenPosition" multiple="multiple" size="7">
                <option value="DO">DO</option>
                <option value="IO">IO</option>
                <option value="PP">PP</option>
                <option value="IOPP">IO + PP</option>
                <option value="DOIO">DO + IO</option>
                <option value="DOPP">DO + PP</option>
                <option value="0">[No value]</option>
            </select>
        </div>

        <div>
            <label for="openanimacy">Animacy of the open position</label>
            <select id="openanimacy" name="OpenAnimacy" multiple="multiple" size="5">
                <option value="Animate">Animate</option>
                <option value="Inanimate">Inanimate</option>
                <option value="AnimateInanimate">Animate + Inanimate</option>
                <option value="InanimateAnimate">Inanimate + Animate</option>
                <option value="0">[No value]</option>
            </select>
        </div>

        <div>
            <label for="specialverb">Is the verb either "zijn" or "hebben"?</label>
            <select id="specialverb" name="SpecialVerb" multiple="multiple" size="4">
                <option value="Zijn">Zijn</option>
                <option value="Hebben">Hebben</option>
                <option value="ZijnHebben">Zijn or hebben</option>
                <option value="0">[No value]</option>
            </select>
        </div>

        <div>
            <label for="dodeterminer">Direct object type</label>
            <select id="dodeterminer" name="DODeterminer" multiple="multiple" size="14">
                <option value="Definite">Definite</option>
                <option value="DefinitePlural">Definite plural</option>
                <option value="DefiniteCoordinated">Definite coordinated</option>
                <option value="Indefinite">Indefinite</option>
                <option value="IndefiniteCoordinated">Indefinite coordinated</option>
                <option value="Bare">Bare</option>
                <option value="BarePlural">Bare plural</option>
                <option value="BareCoordinated">Bare coordinated</option>
                <option value="BarePluralCoordinated">Bare plural coordinated </option>
                <option value="Quantified">Quantified</option>
                <option value="QuantifiedCoordinated">Quantified coordinated</option>
                <option value="Poss">Possessive</option>
                <option value="Reflexive">Reflexive</option>
                <option value="0">[No value]</option>
            </select>
        </div>

        <div>
            <label for="modifier">Is the DO modified (by an adjective)?</label>
            <select id="modifier" name="Modifier" multiple="multiple" size="3">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="0">[No value]</option>
            </select>
        </div>

    </div>

    <h3>Posession</h3>

    <div class="propertiesGroup">

        <div>
            <label for="posstype">How is possession expressed?</label>
            <select id="posstype" name="PossType" multiple="multiple" size="4">
                <option value="Posspro">Possessive pronoun	</option>
                <option value="PP">Prepositional phrase</option>
                <option value="External">External possession</option>
                <option value="0">[No value]</option>
            </select>
        </div>

        <div>
            <label for="alienability">Alienability of possession</label>
            <select id="alienability" name="Alienability" multiple="multiple" size="5">
                <option value="Alienable">Alienable</option>
                <option value="Inalienable">Inalienable</option>
                <option value="AlienableInalienable">Alienable + Inalienable</option>
                <option value="InalienableAlienable">Inalienable + Alienable</option>
                <option value="0">[No value]</option>
            </select>
        </div>

        <div>
            <label for="idiomnotes">Notes</label>
            <input id="idiomnotes" name="IdiomNotes" type="text" size="50">
        </div>
    </div>

    <h2>Sentence</h2>

    <button type="submit">Search</button>
    <button type="reset">Reset form</button>
</form>

{% endblock %}
