{% extends "page_base.html" %}

{% block title %}Search results: dialects{% endblock %}

{% block content %}

<h1 class="title is-1">Search results: dialects</h1>

{% if args %}

    {% set result_count, results, query, wheres_values, error = execute_search_query('dialect') %}

    {% set search_criteria = get_search_params_display() %}

    <details class="content">
        <summary>Search criteria</summary>
        <div class="box">
            <dl>
                {% for search_label, value in search_criteria.items() %}
                    <div>
                        <dt>{{ search_label }}</dt>
                        <dd>{{ value }}</dd>
                    </div>
                {% endfor %}
            </dl>
        </div>
        {% if args.get('_trace') == '1' %}
            <div class="box">
                <pre>{{ query }}</pre>
                <pre>WHERE values: {{ wheres_values }}</pre>
            </div>
        {% endif %}
    </details>

    {% if results != None %}

    <table class="table is-striped is-hoverable is-fullwidth">
        <caption class="has-text-left">
            {{ result_count }} records found.
        </caption>

        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Principal location</th>
            </tr>
        </thead>
        <tbody>
        {% for row in results %}
        <tr>
            <th>{{ row.row_num }}</th>
            <td><a href="/dialects/{{ row.strategy_answerset_id }}">{{ row.answerset_name }}</a></td>
            <td>{{ row.answerset_description }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
        {% include "_400_sql.html" %}
    {% endif %}

{% endif %}

{% endblock %}
