{% extends "page_base.html" %}

{% block title %}Search results: idioms{% endblock %}

{% block content %}

<h1 class="title is-1">Search results: idioms</h1>

{% if args %}

    {% set count_results, main_results, count_query, main_query, wheres_values = execute_search_query(args, 'idiom') %}

    {% if args.get('_trace') == '1' %}
        <div class="box">
            <pre>{{ args }}</pre>
            <pre>WHERE values: {{ wheres_values }}</pre>
            <pre>{{ main_query }}</pre>
        </div>
    {% endif %}

    <p>
        {{ count_results.rows[0].cnt }} records found.
    </p>

    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th></th>
                <th>Idiom</th>
                <th>Meaning</th>
            </tr>
        </thead>
        <tbody>
        {% for row in main_results %}
            <tr>
                <th>{{ row.row_num }}</th>
                <td><a href="/idioms/{{ row.strategy_id }}">{{ row.strategy_name }}</a></td>
                <td>{{ row.strategy_description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
