{% extends "page_base.html" %}

{% block title %}Search results: idioms{% endblock %}

{% block content %}

<h1>Search results: idioms</h1>

{% if args %}

    {% set count_query, main_query = build_search_idioms_sql(args) %}

    <div style="border:1px solid;padding:.5em;margin:.5em;">
        <pre>{{ args }}</pre>
        <hr>
        <pre>{{ main_query }}</pre>
    </div>

    <p>
        {{ sql(count_query)[0].cnt }} records found.
    </p>

    <div class="table">
        <div class="table-row">
            <div class="table-head"></div>
            <div class="table-head">Idiom</div>
            <div class="table-head">Meaning</div>
    </div>

    {% for row in sql(main_query) %}
        <div class="table-row">
            <div class="table-cell">{{ row.row_num }}</div>
            <div class="table-cell"><a href="/idioms/{{ row.strategy_id }}">{{ row.strategy_name }}</a></div>
            <div class="table-cell">{{ row.strategy_description }}</div>
        </div>
    {% endfor %}

    </div>
{% endif %}

{% endblock %}
