{% extends "page_base.html" %}

{% block title %}Search results: sentences{% endblock %}

{% block content %}

<h1 class="title is-1">Search results: sentences</h1>

{% if args %}

    {% set count_query, main_query, wheres_values = build_search_sql(args, 'sentence') %}

    {% if args.get('_trace') == '1' %}
        <div class="box">
            <pre>{{ args }}</pre>
            <pre>WHERE values: {{ wheres_values }}</pre>
            <pre>{{ main_query }}</pre>
        </div>
    {% endif %}

    <p>
        {{ sql(count_query, wheres_values)[0].cnt }} records found.
    </p>

    {% for row in sql(main_query, wheres_values) %}
    <div class="columns is-striped">
        <div class="column is-narrow">{{ row.row_num }}</div>
        <div class="column is-11">
            <div class="columns">
                <div class="column is-1">
                    <p><a href="/sentences/{{ row.sentence_id }}">id: {{ row.sentence_id }}</a></p>
                    <p>({{ row.grammaticality }})</p>
                </div>
                <div class="column is-11">
                    <p>Idiom: <a href="/idioms/{{ row.strategy_id }}">{{ row.strategy_name }}</a>
                        <span class="is-pulled-right">Dialect: {{ row.sentence_answerset_id }}</span>
                    </p>
                    <div>{% include "_interlinear.html" %}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endif %}

{% endblock %}
