{% extends "page_base.html" %}

{% block title %}Search results: sentences{% endblock %}

{% block content %}

<h1 class="title is-1">Search results: sentences</h1>

{% if args %}

    {% set result_count, results, query, error = execute_search_query('sentence') %}

    {% set search_criteria = get_search_params_display() %}

    <details class="content">
        <summary>Search criteria</summary>
        <dl>
            {% for search_label, value in search_criteria.items() %}
                <div>
                    <dt>{{ search_label }}</dt>
                    <dd>{{ value }}</dd>
                </div>
            {% endfor %}
        </dl>
    </details>

    {% if results != None %}
    <p>
        {{ result_count }} records found.
    </p>

    {% for row in results %}
    <div class="columns is-striped">
        <div class="column is-narrow">{{ row.row_num }}</div>
        <div class="column is-11">
            <div class="columns">
                <div class="column is-3">
                    <p><a href="/sentences/{{ row.sentence_id }}">id: {{ row.sentence_id }}</a></p>
                    <p class="is-italic">{{ row.grammaticality }}</p>
                </div>
                <div class="column is-9">
                    <p>Idiom: <a href="/idioms/{{ row.strategy_id }}">{{ row.strategy_name }}</a>
                        <span class="is-pulled-right">Dialect: {{ row.sentence_answerset_id }}</span>
                    </p>
                    <div>{% include "_interlinear.html" %}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}
        {% include "_400_sql.html" %}
    {% endif %}

{% endif %}

{% endblock %}
