{% extends "page_base.html" %}

{% block title %}Search results: sentences{% endblock %}

{% block content %}

<h1 class="title is-1">Search results: sentences</h1>

{% if args %}

    {% set count_query, main_query, wheres_values = build_search_sql(args, 'sentence') %}

    {% if args.get('_trace') == '1' %}
        <div style="border:1px solid;padding:.5em;margin:.5em;">
            <pre>{{ args }}</pre>
            <hr>
            <pre>{{ main_query }}</pre>
            <hr>
            <pre>{{ wheres_values }}</pre>
        </div>
    {% endif %}

    <p>
        {{ sql(count_query, wheres_values)[0].cnt }} records found.
    </p>

    <div class="table">
        <div class="table-row">
            <div class="table-head"></div>
            <div class="table-head"></div>
            <div class="table-head">Sentence</div>
        </div>

    {% for row in sql(main_query, wheres_values) %}
        <div class="table-row">
            <div class="table-cell">{{ row.row_num }}</div>
            <div class="table-cell"><a href="/sentences/{{ row.sentence_id }}">Details</a></div>
            <div class="table-cell">
                <div>Idiom: <a href="/idioms/{{ row.strategy_id }}">{{ row.strategy_name }}</a></div>
                {% include "_interlinear.html" %}
            </div>
        </div>
    {% endfor %}

    </div>
{% endif %}

{% endblock %}
