{% extends "page_base.html" %}

{% set idiom_row = sql("SELECT strategy_id, strategy_name, strategy_description, strategy_answerset_id FROM strategy WHERE strategy_id = :strategy_id", {"strategy_id": idiom}) %}

{% block title %}Idiom{% endblock %}

{% block content %}

{% if idiom_row %}
    <h1>Idiom</h1>

    <dl>
        <div>
          <dt>Idiom</dt>
          <dd style="font-weight: bold;">{{ idiom_row[0].strategy_name }}</dd>
        </div>
        <div>
            <dt>Meaning</dt>
            <dd>{{ idiom_row[0].strategy_description }}</dd>
        </div>
        <div>
            <dt>Dialect</dt>
            <dd><a href="/dialects/{{ idiom_row[0].strategy_answerset_id }}">{{ idiom_row[0].strategy_answerset_id }}</a></dd>
        </div>
        <div>
          <dt>ID</dt>
          <dd>{{ idiom_row[0].strategy_id }}</dd>
        </div>
      </dl>

    <h2>Properties</h2>
    {% set interlinear_row = sql("SELECT original, gloss, translation, grammaticality, sentence_strategy_id
                                        FROM sentence s
                                        WHERE translation IS NOT NULL
                                         AND sentence_strategy_id = :strategy_id;",
                                        {"strategy_id": idiom}) %}

        {% if interlinear_row %}

            {% set interlinear_words = get_interlinear(interlinear_row[0]) %}

            <h3>Translation</h3>

            {% include "_interlinear.html" %}

        {% endif %}

    {% set idiom_properties_row = sql(" SELECT pg.group_label, pq.question_label, COALESCE(sd.value_shorttext, vd.value_label) AS value
                                        FROM strategy_data sd
                                        JOIN parameterDefinition pd ON sd.parameter_definition_id = pd.parameter_id
                                        JOIN parameterQuestion pq ON pd.parameter_group_id = pq.question_id
                                        JOIN parameterGroup pg ON pq.question_parent_id = pg.group_id
                                        LEFT JOIN valueDefinition vd ON sd.value_definition_id = vd.value_id
                                         AND pd.parameter_value_type_id = vd.value_type_id
                                        WHERE strategy = :strategy_id
                                         AND sd.parameter_definition_id != 'Gloss1'
                                        ORDER BY group_label ASC, question_label ASC;
                                        ", {"strategy_id": idiom}) %}

        <dl>
        {% set ns = namespace(group_prev=None) %}

        {% for row in idiom_properties_row %}
            {% if ns.group_prev != row.group_label %}
                <div><h3>{{ row.group_label }}</h3></div>
                {% set ns.group_prev = row.group_label %}
            {% endif %}
            <div>
                <dt>{{ row.question_label }}</dt>
                <dd>{{ row.value }}</dd>
            </div>
        {% endfor %}
    </dl>

{% else %}
    {{ raise_404("Idiom not found") }}
{% endif %}

{% endblock %}
