{% extends "page_base.html" %}

{% set idiom_row = sql("SELECT strategy_id, strategy_name, strategy_description, strategy_answerset_id FROM strategy WHERE strategy_id = :strategy_id", {"strategy_id": idiom}) %}

{% block title %}Idiom{% endblock %}

{% block content %}

{% if idiom_row %}
    <h1>Idiom</h1>

    <dl>
        <div>
          <dt>Idiom</dt>
          <dd style="font-weight: bold;">{{ idiom_row[0].strategy_name }}</dd>
        </div>
        <div>
            <dt>Meaning</dt>
            <dd>{{ idiom_row[0].strategy_description }}</dd>
        </div>
        <div>
            <dt>Dialect</dt>
            <dd><a href="/dialects/{{ idiom_row[0].strategy_answerset_id }}">{{ idiom_row[0].strategy_answerset_id }}</a></dd>
        </div>
        <div>
          <dt>ID</dt>
          <dd>{{ idiom_row[0].strategy_id }}</dd>
        </div>
      </dl>

    {% set idiom_interlinear_row = sql("SELECT original, gloss, translation, grammaticality, sentence_strategy_id
                                        FROM sentence s
                                        WHERE translation IS NOT NULL
                                         AND sentence_strategy_id = :strategy_id;",
                                        {"strategy_id": idiom}) %}
        {% if idiom_interlinear_row %}
        <h2>Properties</h2>
        <h3>Translation</h3>
        <div style="float:left;margin-right:1em;">
            <table><td>({{ idiom_interlinear_row[0].grammaticality }})</td></table>
        </div>
        <div class="interlinear">
            <table>
                <tr>
                    {% for word in idiom_interlinear_row[0].original.split(' ') %}
                    <td>{{ word }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for gloss in idiom_interlinear_row[0].gloss.split(' ') %}
                    <td>{{ gloss }}</td>
                    {% endfor %}
                </tr>
            </table>
            <p class="translation">{{ idiom_interlinear_row[0].translation }}</p>
        </div>
        {% endif %}

{% else %}
    {{ raise_404("Idiom not found") }}
{% endif %}

{% endblock %}
