body {
    background-color: #ffecc0;
    max-width: 120ch;
    padding: 2ch;
    margin: auto;
}

header {
    background-color: #ffecc0;
}

header nav li {
    display: inline;
    padding: 0 2em 0 0;
    list-style: none;
}

header nav a:link,
header nav a:visited,
header nav a:hover,
header nav a:focus,
header nav a:active {
    display: inline-block;
    width: 8em;
    padding: .5em 0;
    margin-bottom: .5em;
    text-align: center;
    color: #0b72d7;
    background-color: #72b3f5;
}

/* a, a:link {
    color: #000000;
}

a:hover {
	background: #d6bde1;
} */

.content ul {
    list-style: disc inside;
}

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell,
.table-head {
    display: table-cell;
    padding: 0.2em;
}

.table-cell.properties {
    width: 13ch;
}

.table-head {
    font-weight: bold;
}

dl {
    display: table;
}

dl > div {
    display: table-row;
}

dl>div>dt,
dl>div>dd {
    display: table-cell;
    padding: .3em;
}

dl>div>dt {
    background-color: #d1c6d5;
}

dl>div>dt {
    font-weight: bold;
}
