.form-quarter {
    width: calc(25% - 0.75rem);
    min-width: 12rem;
}

.form-half {
    width: calc(50% - 0.75rem);
    min-width: 12rem;
}

.field.is-grouped.is-grouped-multiline > .control.form-half,
.field.is-grouped.is-grouped-multiline > .control.form-quarter {
    margin-bottom: 1.5rem;
}

.columns.is-striped:nth-child(2n) {
    background-color: #fafafa;
}

dl {
    display: table;
}

dl > div {
    display: table-row;
}

dl>div>dt,
dl>div>dd {
    display: table-cell;
    padding: .3em;
}

dl>div>dt {
    background-color: hsl(0, 0%, 86%);
    min-width: 10em;
    border-bottom: 3px solid hsl(0, 0%, 96%);
}

dl>div>dt {
    font-weight: bold;
}

p.translation {
    font-style: italic;
}

details summary {
    cursor: pointer;
  }

details summary > h2 {
    display: inline;
}

ruby {
    display: inline-block;
}

rt {
    display: block;
    line-height: 24px;
    font-size: 100%;
}
