body {
    background-color: #ffecc0;
    max-width: 120ch;
    padding: 2ch;
    margin: auto;
}

header {
    background-color: #ffecc0;
}

/* a, a:link {
    color: #000000;
}

a:hover {
	background: #d6bde1;
} */

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell,
.table-head {
    display: table-cell;
    padding: 0.2em;
}

.table-head {
    font-weight: bold;
}
