{% if row.gloss %}
    {% set interlinear_words = get_interlinear(row) %}
{% endif %}

<div class="interlinear">
    <div style="float:left;margin-right:1em;">
        <div>({{ row.grammaticality }})</div>
    </div>
    {% if interlinear_words %}
        {% for word in interlinear_words %}
        <div>{{ word[0] }}
            <div>{{ word[1] }}</div>
        </div>
        {% endfor %}
    {% else %}
        <p><a href="/sentences/{{ row.sentence_id }}">{{ row.original }}</a>.</p>
    {% endif %}

    {% if row.translation %}
        <p class="translation">{{ row.translation }}</p>
    {% endif %}
</div>
