<p>
    {{ sql("SELECT count(*) as cnt FROM sentence WHERE sentence_answerset_id = :dialect_id", {"dialect_id": dialect_id})[0].cnt }} records found.
</p>

{% for row in sql(""" SELECT ROW_NUMBER() OVER (ORDER BY i.strategy_id, s.sentence_id ASC) AS row_num,
                    sentence_id, original, translation, gloss,
                     convert_gramm(grammaticality) AS grammaticality,
                     sentence_answerset_id, sentence_strategy_id, strategy_name
                    FROM sentence s
                    JOIN strategy i ON i.strategy_id = s.sentence_strategy_id
                    WHERE sentence_answerset_id = :dialect_id
                    ORDER BY i.strategy_id, s.sentence_id ASC
                    """, {"dialect_id": dialect_id}) %}
<div class="columns is-striped">
    <div class="column is-narrow">{{ row.row_num }}</div>
    <div class="column is-11">
        <div class="columns">
            <div class="column is-3">
                <p><a href="/sentences/{{ row.sentence_id }}">id: {{ row.sentence_id }}</a></p>
                <p class="is-italic">{{ row.grammaticality }}</p>
            </div>
            <div class="column is-9">
                <p>Idiom: <a href="/idioms/{{ row.sentence_strategy_id }}">{{ row.strategy_name }}</a>
                    <span class="is-pulled-right">Dialect: {{ row.sentence_answerset_id }}</span>
                </p>
                <div>{% include "_interlinear.html" %}</div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
