{% extends "page_base.html" %}

{% block title %}Database of Dutch Dialect Idioms (DaDDI){% endblock %}

{% block body_class %}index{% endblock %}

{% block nav %}
{% include "_nav_links.html" %}
{% endblock %}

{% block content %}
<h1 class="title is-1">Database of Dutch Dialect Idioms (DaDDI)</h1>

<h2 class="title is-2">Over het project</h2>

<p>
    Welkom op de website van de Databank van Nederlandse Dialectidiomen (Database of Dutch Dialect Idioms, DaDDI).
    De databank is een onderdeel van het onderzoeksproject <i>The Syntax of Idioms</i> (De Zinsbouw van Idiomen), uitgevoerd door taalkundigen van de Universiteit Utrecht (<a href="https://www.uu.nl/onderzoek/institute-for-language-sciences">ILS, voorheen UiL OTS</a>) in Nederland en de KU Leuven (<a href="https://www.crissp.be">CRISSP</a>) in België.
    Het project is gesubsidieerd door de nationale wetenschapsorganisaties van Nederland (NWO) en Vlaanderen (FWO).
</p>

<p>
    Het belangrijkste doel van het project is om zowel de interne als de externe syntactische structuur van idiomen in kaart te brengen, dat wil zeggen: zowel de opbouw van idiomen als de manier waarop ze met de rest van de zin interacteren.
    Ons project richt zich dan ook niet op inhoudswoorden, maar op het functionele (grammaticale) materiaal in idiomen.
    Tot voor kort baseerde men zich in het idiomenonderzoek vooral op een kleine verzameling Engelse idiomen, beoordeeld door enkele sprekers (de onderzoekers zelf).
    Hier is pas recent verandering in gekomen.
    Ons project zet een volgende stap in die ontwikkeling door het toevoegen van systematisch verzamelde oordelen van meerdere moedertaalsprekers.
    Bovendien is dit het eerste project dat kijkt naar sterk verwante taalvariëteiten binnen een taal (namelijk Nederlandse dialecten).
    Dit maakt het mogelijk om te bestuderen of en, zo ja, hoe kleine syntactische verschillen doorwerken in de idiomen van een taal(variëteit).
</p>

<h2 class="title is-2">Onderzoeksgroep</h2>

<p>
<ul>
<li>Norbert Corver (Utrecht)</li>
<li>Jeroen van Craenenbroeck (Leuven)</li>
<li>Will Harwood (Leuven)</li>
<li>Marko Hladnik (Utrecht) </li>
<li>Sterre Leufkens (Utrecht) </li>
<li>Tanja Temmerman (Leuven) </li>
<li>Eefje Boef (Utrecht) </li>
<li>Loes Koring (Utrecht)</li>
<li>Alexis Dimitriadis (ontwerp databank en ondersteuning; Utrecht)</li>
<li>Kristel Doreleijers (studentassistent; Utrecht)</li>
</ul>
</p>

<h2 class="title is-2">De databank</h2>

<p>
    De databank bevat meer dan 7.000 idiomen die zijn gevonden in woordenboeken, grammatica’s en idioticons van dertien dialecten, gesproken in Nederland en Vlaanderen.
    We hebben voor deze dialecten gekozen vanwege hun geografische spreiding: zij representeren samen de verschillende Nederlandse dialectgebieden.
    Bovendien zijn sommige dialecten geselecteerd omdat ze een bepaalde syntactische eigenschap bezitten die voor ons onderzoek interessant was, zoals lidwoordomissie of aspectsverdubbeling.
    Van elk opgenomen idioom wordt naast de Nederlandse interpretatie ook informatie gegeven over ‘voice’/vorm (bedrijvende vorm/lijdende vorm), werkwoordstijd (tempus), aspect, modaliteit, en de syntactische structuur.
    Deze grote verzameling van geannoteerde dialectidiomen is interessant voor zowel taalkundigen als een breder publiek.
</p>

<p>
    Het tweede deel van de database bestaat uit de gegevens uit interviews met moedertaalsprekers van Nederlandse dialecten. Hiermee wilden we systematisch onderzoeken in hoeverre idiomen afhankelijk zijn van functioneel materiaal in hun woordenboekvorm, en ten tweede in hoeverre idiomen morfosyntactische flexibiliteit toestaan wat betreft passivisatie, topicalisatie, modificatie, etc.
    Met dit doel hebben we een aantal idiomen geselecteerd en verschillende syntactische manipulaties toegepast. Op deze manier zijn vragenlijsten met testzinnen samengesteld voor tien dialecten.
    Deze vragenlijsten hebben we voorgelegd aan dialectsprekers die hun oordelen hebben gegeven over de zinnen.
    Voor iedere testzin hebben zij aangegeven of de idiomatische betekenis onder de syntactische manipulatie behouden bleef.
    Op deze manier zijn meer dan 13.000 individuele oordelen verzameld, die allemaal in de databank zijn opgeslagen. Dit deel van de data is voorzien van Engelse glossen en vertalingen (letterlijk en idiomatisch).
</p>

<p>
    Meer details over de data en de eigenschappen van de idiomen in de databank kunt u vinden op de pagina <a href="/handleiding">Handleiding</a>
</p>

<p>
    Via de navigatie aan de bovenzijde kunt u de databank bekijken en doorzoeken.
    Door op <a href="/dialects">Browse</a> te klikken ziet u de lijst van opgenomen dialecten, waardoor u snel zicht krijgt op de inhoud en structuur van de databank. Als u op <a href="/search">Search</a> klikt, kunt u de idiomen en de testzinnen doorzoeken op basis van een aantal criteria.
    Een uitleg van het zoeksysteem vindt u op de pagina <a href="/handleiding">Handleiding</a>.
</p>

<p>
    De Database of Dutch Dialect Idioms (DaDDI) is toegankelijk voor iedereen met het doel om wetenschappelijk onderzoek uit te voeren, onder de gebruikelijke wetenschappelijke voorwaarden. Gebruik alstublieft de referentie hieronder om naar de databank te verwijzen:
</p>

<div class="card">
  <div class="card-content">
    <div class="content">
      Corver, N., J. van Craenenbroeck, E. Boef, A. Dimitriadis, K. Doreleijers, W. Harwood, M. Hladnik, L. Koring, S. Leufkens, and T. Temmerman (2017). Database of Dutch Dialect Idioms (DaDDI). Online database, <i>https://dutchdialectidioms.uu.nl/</i>. Accessed [Day Month Year].
    </div>
  </div>
</div>

{% endblock %}
