<!DOCTYPE html>
<html lang="en" class="has-background-grey-light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header>
        <nav class="container navbar mt-2 mb-4 px-5 has-background-grey-light">
            {% include "_nav_links.html" %}
        </nav>
    </header>

    <main>
        <div class="container content has-background-white-ter p-5">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="section">
        <div class="container content p-5 has-background-primary">
            {% include "_footer.html" %}
        </div>
    </footer>

</body>
</html>
