{% extends "page_base.html" %}

{% set answerset_row = sql("SELECT answerset_id, answerset_name, answerset_description FROM answerset WHERE answerset_id = :answerset_id", {"answerset_id": dialect}) %}

{% block title %}Dialect {% endblock %}

{% block content %}

{% if answerset_row %}
    {% set dialect_id = answerset_row[0].answerset_id %}
    {% set dialect_source = sql("SELECT value_text FROM answerset_data WHERE answerset = :answerset_id AND parameter_definition_id = 'Source1'", {"answerset_id": dialect_id})[0][0] %}

    <h1>{{ answerset_row[0].answerset_name }}</h1>

        <h2>Custom Properties</h2>

        <dl>
            <div>
                <dt>Principal location</dt>
                <dd>{{ answerset_row[0].answerset_description }}</dd>
            </div>
            <div>
                <dt>Source</dt>
                <dd>{{ dialect_source }}</dd>
            </div>
        </dl>

    <h2>Manipulations</h2>
    <h2>Idioms</h2>
    <p>
        {{ sql("SELECT count(*) as cnt FROM strategy WHERE strategy_answerset_id = :dialect_id", {"dialect_id": dialect_id})[0].cnt }} records found.
    </p>
    <div class="table">
        <div class="table-row">
            <div class="table-head">Idiom</div>
            <div class="table-head">Meaning</div>
            <div class="table-head">Properties</div>
        </div>
        {% for idiom in sql("""SELECT strategy_id, strategy_name, strategy_description, strategy_answerset_id
                            FROM strategy
                            WHERE strategy_answerset_id = :dialect_id
                            """, {"dialect_id": dialect_id}) %}
        <div class="table-row">
            <div class="table-cell">{{ idiom.strategy_name }}</a></div>
            <div class="table-cell">{{ idiom.strategy_description }}</div>
            <div class="table-cell"><a href="/idioms/{{ idiom.strategy_id }}">Properties</a></div>
        </div>
        {% endfor %}
    </div>
{% else %}
    {{ raise_404("Dialect not found") }}
{% endif %}

{% endblock %}
