{% extends "page_base.html" %}

{% set answerset_row = sql("SELECT answerset_id, answerset_name, answerset_description FROM answerset WHERE answerset_id = :answerset_id", {"answerset_id": dialect}) %}

{% set page = args.get('page', 'idioms') %}

{% block title %}Dialect {% endblock %}

{% block content %}

{% if answerset_row %}
    {% set dialect_id = answerset_row[0].answerset_id %}
    {% set dialect_source = sql("SELECT value_text FROM answerset_data WHERE answerset = :answerset_id AND parameter_definition_id = 'Source1'", {"answerset_id": dialect_id})[0][0] %}

    <h1 class="title is-1">{{ answerset_row[0].answerset_name }}</h1>

        <h2 class="title is-2">Custom Properties</h2>

        <dl>
            <div>
                <dt>Principal location</dt>
                <dd>{{ answerset_row[0].answerset_description }}</dd>
            </div>
            <div>
                <dt>Source</dt>
                <dd>{{ dialect_source }}</dd>
            </div>
        </dl>

    <div class="tabs is-large is-boxed">
        <ul class="ml-0">
            <li class="{{ 'is-active' if page == 'idioms' else '' }}"><a href="/dialects/{{ dialect }}?page=idioms">Idioms</a></li>
            <li class="{{ 'is-active' if page == 'sentences' else '' }}"><a href="/dialects/{{ dialect }}?page=sentences">Sentences</a></li>
        </ul>
    </div>

    {% if page == 'idioms' %}
        {% include "_idioms-table.html" %}
    {% else %}
        {% include "_sentences.html" %}
    {% endif %}

{% else %}
    {{ raise_404("Dialect not found") }}
{% endif %}

{% endblock %}
